@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

/* colors */
.text-color-banner{
 color: #0A0A8C;
}
.text-color{
 color: #07075D;
}
.bg-color2{
 background-color: #050546;
}
.text-color2{
 color:#00B4FE;
}
.bg-color{
  background-color: #E4F7F4;
}
a.active{
  color:#0A0A8C !important;
}
a:hover{
  color:#0A0A8C !important;
}
h3 {
  background: linear-gradient(to right, #0A0A8C, #00B4FE, #00B4FE);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.grid_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto 1fr auto auto auto;
}
.box-sec{
  width: 90%;
  margin: auto;
}
.wrapper {
  grid-column: 1 / span 12;
}

.navbar_container {
  background-color: #fff;
  grid-column: 1 / span 12;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1;
}